################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Castlevania/Castlevania.VC.VC.opendb
